body{
    background-color: whitesmoke;    
}
.navigation{
    margin-bottom: 0 !important;
}
.content{
    padding: 50px;
    /* background-color: whitesmoke; */
}
.fab-btn{
    margin: 5px;
    position: static;
}
.nav-wrapper {
    background-color: #282828 !important;
  }