body{
    background-color: #191919;       
    background-image: url('comp2.jpeg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}
.container{
    background-color: #282828;        
    height: 100vh;
    color: white;
    padding-top: 5px !important;
    padding: 20px;
    opacity: 0.8;
}
.header{
    padding-top: 50px;
    /* background-color: #E44424; */
}
h1{
    color: #D92B4B
}
.head-text{
    color: #D9853B;
}
.content{
    /* text-align: justify; */
    background-color: #404040; 
    padding-bottom: 10px;
    
}
.row{
    margin-bottom: 25px;
}
p {
    font-size: 20px;
}
h3{
    text-align: left;
    padding-left: 50px;
}
.s-text{
    padding-right: 20px;
}
.form-row{
    /* background-color: #606060; */
    /* border: 1px solid; */
    /* padding: 10px; */
    /* box-shadow: 5px 10px 10px #606060; */
}
.splash-text{
    /* border: whitesmoke 1px solid; */
    /* background-color: #606060;     */
}
.main{
    /* padding-top: 10px; */
    /* padding-top: 5px !important;     */
    /* padding: 5px; */
    background-image: url('../images/comp2.jpeg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
.foot-row{
    font-size: 25px;
}
#form-foot{
    font-size: 20px;    
}
.copy{
    color: red;
  
}
.contact{
    color:turquoise;
}

.input-field label {
    color: #67BCDB;
  }
  .input-field input[type=text]:focus + label {
    color: #C00000;
  }
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #C00000;
    box-shadow: 0 1px 0 0 #C00000;
  }
  /* .input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  } */
  .input-field .prefix.active {
    color: #C00000;
  }
  .input-field .prefix {
    color: #67BCDB;
  }