<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
<div class="row navigation">
    <!-- side nav and top nav -->
    <nav>
        <div class="nav-wrapper">
            <ul id="slide-out" class="side-nav">
                <li>
                    <div class="user-view">
                    <div class="background">
                    <img src="../static/images/event-beachmarriage.jpeg">
                    </div>
                    <a href="#!user"><img class="circle" src="../static/images/comp2.jpeg"></a>
                    <a href="#!name"><span class="white-text name">Peter Ndungu</span></a>
                    <a href="#!email"><span class="white-text email">pndungu@gmail.com</span></a>
                    </div>
                </li>
                <li><a href="#!">My Businesses</a></li>
                <li><div class="divider"></div></li>
                <li><a class="subheader">My Menu</a></li>
                <li><a class="waves-effect" href="#!">Businesses</a></li>                
                <li><a class="waves-effect" href="#!">Sign Out</a></li>
                <li><div class="divider"></div></li>
                <li><a class="waves-effect" href="#!">Settings</a></li>                                        
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse show-on-medium-and-up"><i class="material-icons show-on-medium-and-up">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">weConnect</a></li>
            </ul>
        </div>
    </nav>
    <!-- end side nav and top nav -->
</div>
<div class="row content">
    <!-- add business floating button -->
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red  modal-trigger modal-close" href="#create-event">
            <i class="large material-icons">add</i>
        </a>
    </div>
    <!-- end button -->
</div>

    <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>    
    <script src="../static/js/materialize_init.js"></script>
</body>
</html>